{% extends 'base.html.twig' %}


{% block body %}
    <div class="page-wrap">

        <!-- Main -->
        <section id="main-price">

            <!-- Header -->
            <section id="price-header">
                <header id="price-header-wrapper">
                    <div id="head-link">
                        <h2><a href="{{ asset('/') }}">Anna Zatsarinskaya</a></h2>
                    </div>
                </header>
            </section>

            <!-- Content -->
            <section id="price-content">
                {% for price in prices %}
                    <div id="price-content-wrapper">
                        <div id="title">
                            <h3>{{ price.contentTitle |raw }}</h3>
                        </div>
                        <div id="content">
                            {{ price.content |raw }}
                        </div>
                    </div>

                {% endfor %}
            </section>


            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Anna Zatsarinskaya
                </div>
            </footer>
        </section>
    </div>
{% endblock %}
