{% extends 'base.html.twig' %}


{% block body %}
    <div class="page-wrap">

        <!-- Main -->
        <section id="main">
          <header id="header">

          </header>

            <section id="content">

            </section>


            <!-- Footer -->
            <footer id="footer">
                <div class="copyright">
                    &copy; Anna Zatsarynska
                </div>
            </footer>
        </section>
    </div>
{% endblock %}
