@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");


/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic */

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

body {
    background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/* Type */

body {
    background-color: #fff;
    color: #22313F;
}

body, input, select, textarea {
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

a {
    text-decoration: underline;
    color: #19B5FE;
}

a:hover {
    text-decoration: none;
    color: #019be3;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 1.5em;
    }

}

h2 {
    font-size: 1.75em;
}

@media screen and (max-width: 480px) {

    h2 {
        font-size: 1.4em;
    }

}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    border-radius: 4px;
    border: solid 1px;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px;
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Box */

.box {
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Button */

button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background: #1b1e21;
    color: #FFF;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

button:hover,
.button:hover {
    color: #FFF;
    background: #878f97;
}


button.alt,
.button.alt {
    background: none;
    box-shadow: 0 0 0 2px rgba(144, 144, 144, 0.25);
}

button.alt:hover,
.button.alt:hover {
    background: rgba(144, 144, 144, 0.075);
    box-shadow: 0 0 0 2px rgba(144, 144, 144, 0.25);
}

button.icon,
.button.icon {
    padding-left: 1.35em;
}

button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

button.small,
.button.small {
    font-size: 0.8em;
}

button.big,
.button.big {
    font-size: 1.35em;
    padding: 0 2em;
}


button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0.25;
}

@media screen and (max-width: 480px) {

    button,
    .button {
        padding: 0;
    }

}

/* Gallery */

@-moz-keyframes gallery {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes gallery {
    100% {
        opacity: 1;
    }
}

@-ms-keyframes gallery {
    100% {
        opacity: 1;
    }
}

@keyframes gallery {
    100% {
        opacity: 1;
    }
}

.gallery {
    padding: 3.5em;
    position: relative;
    overflow: hidden;
    min-height: 37em;
}

@media screen and (max-width: 980px) {

    .gallery {
        padding: 2em;
        min-height: 20em;
    }

}

@media screen and (max-width: 480px) {

    .gallery {
        padding: 1em;
    }

}


@media screen and (max-width: 736px) {

}

@media screen and (max-width: 480px) {


}

.gallery footer {
    text-align: center;
    margin-top: 4em;
}

.gallery .content {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
}

.gallery .content .media {
    -moz-animation: gallery 0.75s ease-out 0.4s forwards;
    -webkit-animation: gallery 0.75s ease-out 0.4s forwards;
    -ms-animation: gallery 0.75s ease-out 0.4s forwards;
    animation: gallery 0.75s ease-out 0.4s forwards;
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;
    position: relative;
    width: 25%;
}

.gallery .content .media a {
    display: block;
}

.gallery .content .media img {
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.gallery .content .media:hover img {
    -moz-transform: scale(1.075);
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

@media screen and (max-width: 736px) {

    .gallery .content .media {
        width: 50%;
    }

}

@media screen and (max-width: 480px) {

    .gallery .content .media {
        width: 100%;
    }

}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

@media screen and (max-width: 480px) {

    .image.left, .image.right {
        max-width: 100%;
        width: 100%;
    }

}

.image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
}

@media screen and (max-width: 480px) {

    .image.left {
        float: none;
        margin: 0 0 1em 0;
    }

}

.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
}

@media screen and (max-width: 480px) {

    .image.right {
        float: none;
        margin: 0 0 1em 0;
    }

}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.special {
    border: solid 1px rgba(144, 144, 144, 0.25);
    padding: 1em;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.tabs {
    list-style: none;
    padding-left: 0;
}

ul.tabs li {
    display: inline-block;
}

ul.tabs li:first-child {
    padding: 0;
}

@media screen and (max-width: 736px) {

    ul.tabs li {
        display: block;
        margin: 0 0 .25em 0;
        padding: 0;
    }

    ul.tabs li .button {
        width: 100%;
    }

}

@media screen and (max-width: 480px) {

    ul.tabs {
        margin-bottom: 1em;
    }

}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2em;
}

@media screen and (max-width: 480px) {

}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 700;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

/* Section/Article */

section.special, article.special {
    text-align: center;
}

section .inner, article .inner {
    padding: 3.5em 0 1.5em 0;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

@media screen and (max-width: 980px) {

    section .inner, article .inner {
        padding: 2em 0 0.1em 0;
        padding-right: 2em;
        padding-left: 2em;
    }

}

@media screen and (max-width: 480px) {

    section .inner, article .inner {
        padding: 1em 0 0.1em 0;
        padding-right: 1em;
        padding-left: 1em;
    }

}

section .columns, article .columns {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

section .columns.double .column, article .columns.double .column {
    width: 48%;
}

@media screen and (max-width: 980px) {

    section .columns.double .column, article .columns.double .column {
        width: 100%;
    }

}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0;
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px;
}

table tfoot {
    border-top: solid 2px;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

/* Wrapper */

.page-wrap {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
}

.wrapper {
    position: relative;
}

.wrapper > .inner {
    margin: 0 auto;
    width: 60em;
}

@media screen and (max-width: 1280px) {

    .wrapper > .inner {
        width: 65em;
    }

}

@media screen and (max-width: 980px) {

    .wrapper > .inner {
        width: 100%;
    }

}


@media screen and (max-width: 736px) {

}

/* Banner */

body.is-loading #banner > .inner {
    opacity: 0;
    -moz-transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -ms-transform: translateY(1em);
    transform: translateY(1em);
}

#banner {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    background: #000 ;
    background-image: url(../../public/banner/main.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center 20%;
    text-align: center;
    color: #FFF;
}

#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    content: '';
    display: block;
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner .inner {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -moz-transition: opacity 1s ease, transform 1s ease;
    -webkit-transition: opacity 1s ease, transform 1s ease;
    -ms-transition: opacity 1s ease, transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    margin: 35vh 0;
    flex: 1 1 auto;
    opacity: 1;
    z-index: 3;
    padding: 0 2em;
}

#banner h1 {
    font-size: 4em;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    color: #FFF;
}

#banner p {
    font-size: 1.5em;
    margin-bottom: 1.75em;
}

#banner a {
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {

    #banner h1 {
        font-size: 3.5em;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        background-attachment: scroll;
    }

    #banner h1 {
        font-size: 2.25em;
    }

    #banner p {
        font-size: 1.25em;
    }

}


/* Main */

#main {
    background: #f1f1f1;
    width: 100%;
}

/* Header */

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    text-decoration: none;
}

#header div {
    width: 100%;
    z-index: 3;
    padding: 0;
}

#header div p {
    padding: 1vh 0 1vh 0;
    margin: 0;
}

#header div a:hover {
    text-decoration: none;
    color: #878f97;
}

/* Banner wrapper */

#banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
    width: 100%;
}


@media screen and (max-width: 980px) {


}

@media screen and (max-width: 736px) {

}

/* Footer */

#footer {
    padding: 2em 0 2em 0;
    background: #f2f2f2;
}

#footer .copyright {
    color: #1b1e21;
    font-size: 1em;
    margin: 0 0 2em 0;
    padding: 0 1em;
    text-align: center;
}

@media screen and (max-width: 736px) {

    #footer {
        padding: 3em 0 1em 0;
    }

}