<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Photography Photography Anna Zatsarinskaya">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Anna Zatsarinskaya, photography, photography Kyiv, photography Kiev, portrait, nude, la beauté est vraie">
    {% endblock %}
    <title>{% block title %}Anna Zatsarinskaya{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('zoomwall_css') }}
    {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-122G5VQM6M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-122G5VQM6M');
    </script>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
